{% extends 'portfolioapp/base.html' %}

{% block content %}
    <div class="register-container">

        <h1> Register here </h1>

    <form action="" method="POST">
        {% csrf_token %}

        {% for field in form %}
        <div>
            <p>{{ field.label }}: <br> {{ field }}</p> 
            
        </div>
        {% endfor %}
        <div class="input-field button">
            <input type="submit" value="Register">
        </div>
    </form>
    <div class="mrt-20px">
        <span>Already have an account?</span>
        <a href="{% url 'login' %}">Log In here</a> 
    </div>

{% endblock %}